/* create brand color to root */
:root {
  --brand-color: #fa9802;
  --background-color: #1e1e1e;
}

.app-docuquest {
  max-width: 314px;
  max-height: 50px;
  min-height: 50px;
  background-color: #1e1e1e;
  position: fixed !important;
  top: calc(12px * 8);
  right: -293px;
  color: white;
  padding: 12px;
  border-radius: 18px;
  z-index: 999;
  min-width: 314px;
  border-bottom: 5px solid var(--brand-color);
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}
.active.app-docuquest {
  overflow: hidden;
}

.app-docuquest ::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.app-docuquest ::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--brand-color);
  border-radius: 99px;
}

/* Handle on hover */
.app-docuquest ::-webkit-scrollbar-thumb:hover {
  background: var(--brand-color);
}

.active#app-docuquest {
  right: 12px;
  max-height: 550px;
  overflow: hidden;
  max-width: 314px;
  width: 100%;
}

.app-docuquest h1 {
  all: unset !important;
  font-size: 16px;
  margin: 0;
  color: var(--brand-color) !important;
  font-family: "Open Sans", sans-serif !important;
  font-weight: bold !important;
}
.app-docuquest h2 {
  font-size: 16px;
  margin: 0;
}
.mt-16 {
  margin-top: 16px;
}
.app-docuquest .center {
  justify-content: center;
  margin: auto;
  align-items: center;
  display: flex;
  padding: 12px;
}
.app-docuquest .prompt-answer {
  max-height: 400px;
  height: 100%;
  overflow: auto;
  width: 290px;
  font-size: 13px;
  padding-right: 8px;
}
.app-docuquest button {
  background-color: #1e1e1e;
  color: white;
  border: 1px solid white;
  border-radius: 6px;
  padding: 4px 12px;
  font-size: 12px;
  margin-top: 16px;
}
.app-docuquest-logo {
  max-width: 120px;
}
.app-docuquest .flex {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;
}
.app-docuquest .w-full {
  width: 100%;
  min-width: 290px;
  max-width: 290px;
}

/* ========== API KEY MODAL ========== */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 12px;
  max-width: 500px;
  width: 90%;
  border-radius: 5px;
  position: relative;
  color: black;
}
.modal-content input {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #c5c5d2;
  border-radius: 3px;
  box-sizing: border-box;
  color: #0f0f0f;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  vertical-align: top;
  width: 100%;
  font-size: 12px;
}

.app-docuquest button {
  margin-top: 1rem;
}

.app-docuquest #btn-api-close {
  position: absolute;
  top: -7px;
  right: 12px;
}

.app-docuquest form {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}
.float-right-right {
  position: absolute;
  top: 8px;
  right: 5px;
  border: none !important;
  aspect-ratio: 1;
  padding: 8px !important;
  margin-top: 0 !important;
}
.faq-item p {
  margin: 0;
}
.faq-item p:nth-child(1) {
  padding: 12px;
  border-bottom: 2px solid var(--brand-color);
  margin-bottom: 4px;
  line-height: 1.5em;
}

.faq-item .faq-answer {
  padding-left: 15px !important;
  color: white !important;
  padding: 12px;
  background: #3b3b3c;
  line-height: 1.5em;
}

.docuquest-highlight {
  border: 2px dashed var(--brand-color);
}

.docu-opts {
  padding-top: 6px;
  width: 100%;
  max-width: 290px;
  min-width: 290px;
}
.docu-opts label {
  display: flex;
  font-size: 12px;
  color: white !important;
}
.docu-opts input[type="checkbox"] {
  -webkit-appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  appearance: checkbox !important;
}
.docu-opts span {
  display: block;
  padding-left: 4px;
  margin-top: auto;
  margin-bottom: auto;
}
.docu-head {
  gap: 4px;
  align-items: center;
  flex-direction: unset !important;
  justify-content: left !important;
}

.active .docu-head > img {
  all: unset !important;
  max-width: 18px !important;
  max-height: 18px !important;
  transform: translateX(0px);
}

.docu-head > img {
  max-width: 12px;
  max-height: 12px;
  transform: translateX(-6px);
}

.docu-body {
  visibility: hidden;
  height: 0px;
  width: 0px;
  opacity: 0;
  transition: 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  animation: fade-in 2s ease forwards;
}
.active.docu-body {
  visibility: visible;
  width: 290px;
  height: 100%;
  opacity: 1;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
